<div class="row">
    <div class="col-lg-8 offset-lg-2 col-12 offset-0">
        <div class="card">
            <div class="card-header">
                <span>Exercise 1 - Job Information</span>
                <span class="float-right"><input type="checkbox" name="task[]"></span>
            </div>
            <div class="card-body">
                <p>
                    Add all job information in relation to each employee on the employees list.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span>Exercise 2 - CRUD</span>
                <span class="float-right"><input type="checkbox" name="task[]"></span>
            </div>
            <div class="card-body">
                <p>
                    For all the following points, all functions must be fully implemented with forms, validation and persistent storage.
                </p>
                <ul>
                    <li>Add function to create a new employee;</li>
                    <li>Add function to view the employee details individually;</li>
                    <li>Add function to update an existing employee;</li>
                    <li>Add function to delete an existing employee.</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span>Exercise 3 - Unit Testing</span>
                <span class="float-right"><input type="checkbox" name="task[]"></span>
            </div>
            <div class="card-body">
                <p>
                    Implement unitary testing for all existing backend functions.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span>Exercise 4 - Export Data</span>
                <span class="float-right"><input type="checkbox" name="task[]"></span>
            </div>
            <div class="card-body">
                <p>
                    Add functionality to export all employee data to a CSV file.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span>Exercise 5 - Task tracking</span>
                <span class="float-right"><input type="checkbox" name="task[]"></span>
            </div>
            <div class="card-body">
                <p>
                    On the exercise page, add functionality to the checkboxes so that you can keep track of the completed exercises.
                </p>
                <p>
                    On the page header, show how many exercises have currently been completed.
                </p>
                <p>
                    This information must persist between page navigation and can't rely on the backend.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span>Optional Exercise 1 - Responsive Menu</span>
                <span class="float-right"><input type="checkbox" name="task[]"></span>
            </div>
            <div class="card-body">
                <p>
                    Currently the mobile menu doesn't work. Fix it.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span>Optional Exercise 2 - Age Increment</span>
                <span class="float-right"><input type="checkbox" name="task[]"></span>
            </div>
            <div class="card-body">
                <p>
                    Create the "birthday" field of the employee entity. It's not necessary to update the list and the CRUD methods.
                </p>
                <p>
                    Implement an API Endpoint that iterates all employees and increases the age of each employee if his birthday is the current day.
                </p>
                <p>
                    Add a cron job to the docker configuration that calls the API Endpoint everyday once.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span>Optional Exercise 3 - Filter</span>
                <span class="float-right"><input type="checkbox" name="task[]"></span>
            </div>
            <div class="card-body">
                <p>
                    Implement the filter above the employees list with the following criteria:
                </p>
                <ul>
                    <li>Name</li>
                    <li>Age</li>
                    <li>Gender</li>
                    <li>Job</li>
                </ul>
            </div>
        </div>
    </div>
</div>
